
//- uilang.com
//- add, remove, toggle
//- ".class", "#id", "target"
code
  | clicking on ".switch-to-fan" toggles class ".show-as-fan" on ".viewport"
  | clicking on ".switch-to-fan" toggles class ".show-as-stack" on ".viewport"